@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$primary-color-font: #646464;
$primary-color-highlight: #898989;
$primary-color-disabled: #afafaf;
$primary-color-shadow: #343434;
$primary-color-button: #008E97;
$primary-shadow-button: #00CED1;
$primary-font-family: "Poppins", "Arial","Helvetica","sans-serif";
$primary-color-shade: #99cc33;

$order-color-button : #4CBB17;
$order-color-shadow: #D0F0C0;

