@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$primary-color-font: #646464;
$primary-color-shadow: #343434;

$primary-font-family: "Poppins", "Arial","Helvetica","sans-serif";